doctype
html
  head
    title harp examples
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" href="http://harpjs.com/favicon.ico")
    link(rel="stylesheet" href="stylesheets/main.css")
  body
    != yield
