h1 Welcome to Harp.
h3 This is yours to own. Enjoy.
title 非常容易上手的生成器框架，却没有正常维护。。。尴尬

p 终于可以用了
p It's finally working. Oh, my god!
p https://github.com/sintaxi/harp/issues/660

footer
    script(async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js")
    p
        span(id="busuanzi_container_site_pv") 本站总访问量
        span(id="busuanzi_value_site_pv") 次
